{% extends "base.html" %}

{% block body %}
    <div class="p-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Results</li>
            </ol>
        </nav>
        <table id="display-content" class="p-4 table table-striped table-bordered table-sm">
            <thead>
            <tr>
                {% for k in keys %}
                    <th class="th-sm">{{ k }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    {% for v in item.values() %}
                        <td>{{ v }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#display-content').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock %}